/*
!/build-ubuntu.sh
!/arch/
!/arch/arm64/
!/arch/arm64/configs/
!/arch/arm64/configs/merlin_defconfig
!/.github/
!/.github/workflows/
!/.github/workflows/build-kernel.yml
!.gitignore
*.o
*.o.*
*.ko
*.cmd
*.mod.c
*.order
*.symtypes
*.symversions
*.dwo
*.ll
*.su
*.gcno
*.gcda
*.dtb
*.dtb.S
*.dtbo
*.a
*.bin
*.elf
*.so
*.so.dbg
*.gz
*.bz2
*.lz4
*.lzma
*.lzo
*.xz
*.tar
*.patch
modules.builtin
Module.symvers
/vmlinux*
/System.map
/Module.markers
include/config/
include/generated/
arch/*/include/generated/
.config
.config.old
.config.tmp
out/
